<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>Onlyours talks</title>

	<link rel="stylesheet" href="../../static/talks/talks.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
	
	<div class="wrapper">
		<div class="container">
			<h1 class="text-center">Onlyours <small><small>talks</small></small></h1>
			<div id="contacts">
				{% for user in users %}
					<p>
						<a href="{% url 'talks:talks' user.username %}">
							{{ user.username }}
						</a>
					</p>
				{% endfor %}
			</div>
			<div id="messages">
                {% for message in messages %}
                <p>
                    <span>[{{ message.date }} {{ message.time }}]</span>
                    <strong><big> {{ message.sender.username }}: </big></strong>
                    {{ message.text }}
                </p>
                {% endfor %}
			</div>
			<form method="POST">
				{% csrf_token %}
				{{ form.non_field_errors }}
				<p></p>
				{{ form.message }}
				{{ form.message.errors }}
				<p></p>
				<button type="submit" class="btn btn-default">Send</button>
				<div class="text-right">Logged as: <strong>{{ username }}</strong></div>
            	<div class="text-right"><a href="/logout/">Logout</a></div>
			</form>
		</div>
	</div>
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>