<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>Onlyours talks</title>

	{% load static %}

	<link rel="stylesheet" href="{% static 'talks/talks.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
	
	<div class="wrapper">
		<div class="container">
			<h1 class="text-center">Onlyours <small><small>talks</small></small></h1>
			<div id="contacts">
				<p><a href="{% url 'talks:talk' 'global' 1 %}">GLOBAL</a></p>
				{% for contact in contacts %}
					<p>
						{% if contact.username == receiver_name %}
						<span>{{ receiver_name }}</span>
						{% else %}
						<a href="{% url 'talks:talk' contact.username 1 %}">
							{{ contact.username }}
						</a>
						{% endif %}
					</p>
				{% endfor %}
			</div>
			<div id="messages">
                {% for message in messages %}
                <p>
                    <span>[{{ message.date }} {{ message.time }}]</span>
					{% if message.sender.username == current_user.username %}
					<strong><big> {{ message.sender.username }}: </big></strong>
					{% else %}
					<a href="{% url 'talks:talk' message.sender.username 1 %}">
	                    <strong><big> {{ message.sender.username }}: </big></strong>
					</a>
					{% endif %}
                    {{ message.text }}
                </p>
                {% endfor %}
			</div>
			<form method="POST">
				{% csrf_token %}
				{{ form.non_field_errors }}
				<p></p>
				{{ form.message }}
				{{ form.message.errors }}
				<p></p>
				<button type="submit" class="btn btn-default">Send</button>
				<div class="pages-list">
					{% for page in pages %}
						{% if page == current_page %}
						<span class="selected">{{ page }}</span>
						{% else %}
						<a href="{% url 'talks:talk' receiver_name page %}">{{ page }}</a>
						{% endif %}
					{% endfor %}
				</div>
			</form>
			<div class="text-right">Logged as: <strong>{{ current_user.username }}</strong></div>
			<div class="text-right">
				<a href="{% url 'auth_custom:logout' %}">Logout</a>
			</div>
		</div>
	</div>
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="{% static 'talks/main.js' %}"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>