{% load static %}

<link rel="stylesheet" href="{% static 'photos/css/photos.css' %}">

<div class="photo-panel">
    <div class="photo-text">
        <b>Photo</b>
    </div>
    <!--This link is used by js-->
    <a href="{% url 'pages:photos:all' page_owner.username %}" class="photos-list-link"></a>
    {% for user_photo in user_photos %}
        <div class="photo-avatar-wrapper">
            <!--This link is used by js-->
            <a href="{% url 'pages:photos:detail' page_owner.username user_photo.id %}" class="detail-photo-link"></a>
            <img src="{{ user_photo.photo.thumbnail.url }}" class="photo-avatar">
        </div>
    {% endfor %}
</div>

<script src="{% static 'photos/js/photos.js' %}"></script>