{% load static %}

<link rel="stylesheet" href="{% static 'photos/css/photos.css' %}">

<div class="photo-panel">
    <div class="photo-text">
        <b>Photo</b>
    </div>
    <!--This link is used by js-->
    <a href="{% url 'pages:photos:all' page_owner.username %}" class="photos-list-link"></a>
    {% for posted_photo in posted_photos %}
        <div class="photo-avatar-wrapper">
            <!--This link is used by js-->
            <a href="{% url 'pages:photos:detail' page_owner.username posted_photo.id %}" class="detail-photo-link"></a>
            {% if posted_photo.photo.thumbnail %}
                <img src="{{ posted_photo.photo.thumbnail.url }}" class="photo-avatar">
            {% else %}
                <img src="" class="photo-avatar">
            {% endif %}
        </div>
    {% endfor %}
</div>

<script src="{% static 'photos/js/photos.js' %}"></script>