{% load html_attrs %}
{% load static %}
<div class="all-videos-background">
    <div class="all-videos-detail-video-background">
        <video class="all-videos-video-img" src="" controls></video>
    </div>
    <div class="video-list-window">
        {% if user == page_owner %}
            <form method="POST" enctype="multipart/form-data" action="{% url 'pages:add_new_video' page_owner.username %}">
                {% csrf_token %}
                {{ video_form.non_field_errors }}
                {{ video_form.file|set_attrs:"class='new-video-input'" }}
                {{ video_form.file.errors }}
                <input type="submit" class="new-video-submit">
            </form>
            <a class="add-new-video"></a>
        {% endif %}
        {% for user_video in user_videos %}
        <div class="video-list-avatar" src="{{ user_video.video.file.url }}"></div>
            {% if page_owner == curent_user %}
                <div class="delete-video-icon">
                    <a href="{% url 'pages:delete_video' page_owner.username user_video.id %}" class="delete-video-link"></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <script>
        var url = "{% static 'pages/js/all_videos.js' %}";
        $.getScript(url);
    </script>
</div>