.photo-panel {
  margin-bottom: 15px;
  padding: 5px 0px 5px 12px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
}
.photo-panel .photo-text {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
  color: #007bff;
}
.photo-panel .photo-text:hover {
  color: #0056b3;
  text-decoration: underline;
}
.photo-panel .photo-avatar-wrapper {
  display: inline-block;
}
.photo-panel .photo-avatar-wrapper .photo-avatar {
  padding: 0px 0px;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-left: 3px;
  margin-bottom: 5px;
  border: 1px solid grey;
  border-radius: 5px 5px;
  object-fit: cover;
  cursor: pointer;
}
