.elephant-panel {
  height: 40px;
  background-image: url("../img/grass.png");
  background-size: auto 204%;
}
.elephant-panel .elephant {
  display: inline-block;
  width: 44px;
  height: 40px;
  background-image: url("../img/elephant2.png");
  background-size: 200% 100%;
  background-position: 44px 0px;
  position: relative;
  left: 0px;
}
.elephant-panel .elephant:hover {
  cursor: grab;
}
.title-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 10px;
}
.container {
  position: relative;
}
.container .nav-panel {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: -35px;
  width: 35px;
  padding-top: 10px;
  border: 1px solid #ebebeb;
  border-right: 0px solid white;
  border-radius: 5px 0px 0px 5px;
}
.container .nav-panel .nav-icon {
  display: flex;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-image: url('../img/nav-icons.png');
  background-size: 400% 200%;
}
.container .nav-panel .home-icon {
  background-position: 0px 0px;
}
.container .nav-panel .home-icon:hover {
  background-position: 0px -25px;
}
.container .nav-panel .talks-icon {
  background-position: -25px 0px;
}
.container .nav-panel .talks-icon:hover {
  background-position: -25px -25px;
}
.container .nav-panel .search-icon {
  background-position: -50px 0px;
}
.container .nav-panel .search-icon:hover {
  background-position: -50px -25px;
}
.container .nav-panel .logout-icon {
  background-position: -75px 0px;
}
.container .nav-panel .logout-icon:hover {
  background-position: -75px -25px;
}
.container .left {
  border-left: 1px solid #ebebeb;
}
.container .left .avatar-panel {
  margin-bottom: 15px;
  padding: 0px 10px 15px 10px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
}
.container .left .avatar-panel .edit-page-icon {
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url('../img/pencil.png');
  background-size: 200% 100%;
}
.container .left .avatar-panel .edit-page-icon:hover {
  background-position: 19px 0px;
}
.container .left .avatar-panel .status-text {
  margin-top: 7px;
  margin-bottom: 0px;
}
.container .left .avatar-panel .user-avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  display: block;
  margin: 0 auto;
}
.container .left .write-message-btn {
  height: 30px;
  width: 100%;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  box-shadow: 0px 0px 1px #0000ff;
  margin-bottom: 15px;
  display: inline-block;
}
.container .left .write-message-btn:hover {
  border-color: #6464ff;
}
.container .middle {
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
.container .middle .about-panel {
  margin-bottom: 15px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
}
.container .middle .about-panel .about-block {
  text-align: justify;
  word-wraps: normal;
}
.container .middle .about-panel .about-block .about-text {
  margin-bottom: 0px;
}
.container .right {
  border-right: 1px solid #ebebeb;
}
.container .right .audio-panel {
  margin-bottom: 15px;
  padding: 5px 0px 5px 12px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
}
.container .right .audio-panel .audio-text {
  display: block;
  margin-bottom: 5px;
}
.container .right .audio-panel .play-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
  margin-top: 3px;
  background-image: url("../img/play.png");
  background-size: 100% 100%;
}
