<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        html, body, .wrapper, .container {
            height: 100%;
        }
    </style>

    {% load static %}

    <link rel="stylesheet" href="{% static 'chat/style.css' %}">

     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div class="container">
        <h1 class="text-center">Onlyours <small><small>chat</small></small></h1>
        <div id="chat">
            {% for message in messages %}
            <p><span style="color:grey">[{{ message.date }} {{ message.time }}]</span> <strong><big>{{ message.name }}:</big></strong> {{ message.text }}</p>
            {% endfor %}
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <p></p>
                <input type="text" class="form-control" id="message" name="message" autofocus>
                <p></p>
                <button type="submit" class="btn btn-default">Send</button>
            </div>
        </form>
        <div class="text-right"><a href="/logout/">Logout</a></div>
    </div>
</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="{% static 'chat/main.js' %}"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
