<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        html, body, .wrapper, .container {
            height: 100%;
        }
    </style>

     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div class="container">
        <h1 class="text-center">Onlyours <small><small>chat</small></small></h1>
        <div id="chat" style="background-color: white; overflow-y:scroll; height:75%;">
            {% for message in messages %}
            <p><strong><big>{{ message.name }}:</big></strong> {{ message.text }}</p>
            {% endfor %}
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <p></p>
                <input type="text" class="form-control" id="message" name="message" autofocus>
                <p></p>
                <button type="submit" class="btn btn-default">Send</button>
            </div>
        </form>
        <div class="text-right"><a href="/logout/">Logout</a></div>
    </div>
</div>
</body>
</html>