@import 'mixins.less';
@import 'elephant.less';

.title-text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 10px;
}

.container {
    position: relative;

    @import 'navigation.less';

    .left {
        border-left: 1px solid rgb(235, 235, 235);

        @import 'left/avatar.less';
        @import 'left/buttons.less';
        @import 'left/friends.less';
    }

    .middle {
        border-left: 1px solid rgb(235, 235, 235);
        border-right: 1px solid rgb(235, 235, 235);

        @import 'middle/about.less';
        @import 'middle/posts.less';
    }


    .right {
        border-right: 1px solid rgb(235, 235, 235);

        @import 'right/photo.less';
        @import 'right/video.less';
        @import 'right/audio.less';
    }
}
