@import 'mixins.less';

.page-detail-photo-background {
    .detail_background();

    .page-photo-img {
        max-width: 800px;
        max-height: 800px;
        background-size: 100% 100%;
        border-radius: 5px 5px;
    }
}

.page-detail-video-background {
    .detail_background();

    .video {
        max-width: 800px;
        max-height: 800px;
        border-radius: 5px 5px;
        border: 1px solid black;
    }
}

@import 'elephant.less';

.title-text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 10px;
}

.container {
    position: relative;

    @import 'navigation.less';

    .left {
        border-left: 1px solid rgb(235, 235, 235);

        @import 'left/avatar.less';
        @import 'left/buttons.less';
        @import 'left/friends.less';
    }

    .middle {
        border-left: 1px solid rgb(235, 235, 235);
        border-right: 1px solid rgb(235, 235, 235);

        @import 'middle/about.less';
        @import 'middle/posts.less';
    }


    .right {
        border-right: 1px solid rgb(235, 235, 235);

        @import 'right/photo.less';
        @import 'right/video.less';
        @import 'right/audio.less';
    }
}
