{% load static %}

<link rel="stylesheet" href="{% static 'photos/css/ajax/detail_photo.css' %}">

<div class="detail-photo-background">
    <div class="detail-photo-window">
        <img src="{{ posted_photo.photo.file.url }}" alt="" class="detail-photo">
        <div class="photo-info-block">
            <div class="col1">
                <div class="photo-user">Posted by&nbsp;<a href="{% url 'pages:page' user.username %}">{{ posted_photo.user.username }}</a></div>
                <div class="photo-datetime">{{ posted_photo.time }} {{ posted_photo.date }}</div>
            </div>
            <div class="col2">
                {% spaceless %}
                    <div class="photo-likes">
                        <div class="like">
                            <!--This link is used in js-->
                            <a href="{% url 'pages:photos:like' user.username posted_photo.id %}" class="like-link"></a>
                            {% if posted_photo.is_liked %}
                                <div class="like-icon like-selected"></div>
                            {% else %}
                                <div class="like-icon"></div>
                            {% endif %}
                            <div class="like-value">
                                {% if posted_photo.n_likes > 0 %}
                                    {{ posted_photo.n_likes }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="dislike">
                            <!--This link is used in js-->
                            <a href="{% url 'pages:photos:dislike' user.username posted_photo.id %}" class="dislike-link"></a>
                            {% if posted_photo.is_disliked %}
                                <div class="dislike-icon dislike-selected"></div>
                            {% else %}
                                <div class="dislike-icon"></div>
                            {% endif %}
                            <div class="dislike-value">
                                {% if posted_photo.n_dislikes > 0 %}
                                    {{ posted_photo.n_dislikes }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endspaceless %}
            </div>
        </div>
    </div>
</div>

<script>
     var url = "{% static 'photos/js/ajax/detail_photo.js' %}";
     $.getScript(url);
</script>
