html, body, .wrapper, .container {
    height: 100%;
}

#chat {
    background-color: white;
    overflow-y: scroll;
    height: 75%;
    border: 1px solid #ddd;
    padding-left: 5px;
    border-radius: 5px 5px;
}

#chat > p > span {
    color: grey;
}

a {
    cursor: pointer;
}