<div class="audio-panel">
    <a href="" class="audio-text"><b>Audio</b></a>
    <div class="track-panel">
        <a href="">
            <div class="play-icon"></div>
        </a>
        <p>
            <a href=""><b>Artist </b></a> - Title
        </p>
    </div>
    <div class="track-panel">
        <div class="play-icon"></div>
        <p>
            <a href=""><b>Artist </b></a> - Title
        </p>
    </div>
    <div class="track-panel">
        <div class="play-icon"></div>
        <p>
            <a href=""><b>Artist </b></a> - Title
        </p>
    </div>
</div>
