<!DOCTYPE html>
{% load html_attrs %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--TODO: get new bootstrap or get rid of it at all if possible-->
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Onlyours</title>
</head>
<body>
<div class="container">
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {% if error_message %}
        <div class="alert alert-danger"><strong>Error:</strong> {{ error_message }}</div>
        {% endif %}
        {{ form.non_field_errors }}
        <div id="form-entries-block">
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username|set_attrs:"class='form-control' autofocus autocomplete='off'" }}
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password|set_attrs:"class='form-control' autocomplete='off'" }}
                {{ form.password.errors }}
            </div>
            <input type="hidden" name="next" value="{% url 'talks:talk' 'global' 1 %}">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </form>
    <div class="text-right"><a href="{% url 'auth_custom:register' %}">Register</a></div>
</div>
</body>
</html>