<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load html_attrs %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'auth_custom/css/register.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Onlyours</title>
</head>
<body>
<div class="container">
    <div class="logo">
        <h1 class="logo-site">Onlyours</h1>
        <div class="logo-register">Register</div>
        {{ form.non_field_errors }}
        {{ form.username.errors }}
        {{ form.password1.errors }}
        {{ form.password2.errors }}
    </div>
    <form method="POST" class="register-form">
        {% csrf_token %}
        {{ form.username.label_tag|set_attrs:"class='label username-label'" }}
        <div class="input-info-block username-info">
            {{ form.username|set_attrs:"class='input username-input'autofocus autocomplete='off'" }}
            <p class="username-info-text">Only letters, numbers, and @/./+/-/_ characters.</p>
        </div>
        {{ form.password1.label_tag|set_attrs:"class='label password-label'" }}
        <div class="input-info-block password-info">
            {{ form.password1|set_attrs:"class='input password-input' autocomplete='off'" }}
            <p class="password-info-text">At least 8 characters.</p>
        </div>
        {{ form.password2.label_tag|set_attrs:"class='label confirm-label'" }}
        <div class="input-info-block confirm-info">
            {{ form.password2|set_attrs:"class='input confirm-input' autocomplete='off'" }}
            <p class="confirm-info-text">Confirm password.</p>
        </div>
        <button type="submit" class="button register-button">Register</button>
        <a class="button login-button" href="{% url 'auth_custom:login' %}">Login</a>
    </form>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{% static 'auth_custom/js/register.js' %}"></script>
</body>
</html>

