{% extends 'auth_custom/base.html' %}

{% load html_attrs %}

{% block content %}
    <h1>Register</h1>
    <form method="POST">
        {% csrf_token %}
        <!--TODO: a lot of different error messages-->
        <!--TODO: disable browsers validation and do it yourself with django-->
        <!--TODO: errors style-->
        {{ form.non_field_errors }}
        <div id="form-entries-block">
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username|set_attrs:"class='form-control' autofocus autocomplete='off'" }}
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1|set_attrs:"class='form-control' autocomplete='off'" }}
                {{ form.password1.errors }}
            </div>
            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2|set_attrs:"class='form-control' autocomplete='off'" }}
                {{ form.password2.errors }}
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
    <div class="text-right"><a href="{% url 'auth_custom:login' %}">Login</a></div>
{% endblock content %}
