{% load static %}
{% load html_utils %}

<link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">

<div class="splitter"></div>
<div class="posts-panel">

    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors}}
        <div class="form-info-block">
            {{ form.text|set_attrs:"class='add-post' placeholder='Add a new post...' oninvalid='this.setCustomValidity(\'\')'" }}
            <p class="form-info-text text-right">Press Ctrl+Enter to post</p>
        </div>
        {{ form.text.errors}}
    </form>

    {% include 'posts/posts_list.html' %}

</div>

<script src="{% static 'posts/js/posts.js' %}"></script>