.all-videos-background {
  background-color: rgba(100, 100, 100, 0.3);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.all-videos-background .video-list-window {
  max-width: 842px;
  background-color: white;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
}
.all-videos-background .video-list-window .video-list-header {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 25px;
  position: relative;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  border-radius: 5px 5px 0px 0px;
}
.all-videos-background .video-list-window .video-list-header .add-icon,
.all-videos-background .video-list-window .video-list-header .youtube-icon,
.all-videos-background .video-list-window .video-list-header .upload-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: 200% 100%;
  position: absolute;
  cursor: pointer;
}
.all-videos-background .video-list-window .video-list-header .add-icon {
  background-image: url('../../img/add-icon.png');
  right: 10px;
  top: 11px;
}
.all-videos-background .video-list-window .video-list-header .add-icon:hover {
  background-position: -15px 0px;
}
.all-videos-background .video-list-window .video-list-header .youtube-icon {
  width: 30px;
  height: 30px;
  background-image: url('../../img/youtube-icon.png');
  right: 0px;
  top: 5px;
  display: none;
}
.all-videos-background .video-list-window .video-list-header .youtube-icon:hover {
  background-position: -30px 0px;
}
.all-videos-background .video-list-window .video-list-header .upload-icon {
  width: 20px;
  height: 20px;
  background-image: url('../../img/upload-icon.png');
  right: 0px;
  top: 10px;
  display: none;
}
.all-videos-background .video-list-window .video-list-header .upload-icon:hover {
  background-position: -20px 0px;
}
.all-videos-background .video-list-window .video-list-content {
  max-height: 750px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: scroll;
  padding-top: 5px;
}
.all-videos-background .video-list-window .video-list-content .video-avatar-wrapper {
  display: flex;
  width: 200px;
  height: 200px;
  margin-left: 5px;
  margin-bottom: 5px;
  position: relative;
}
.all-videos-background .video-list-window .video-list-content .video-avatar-wrapper .video-list-avatar {
  width: 100%;
  height: 100% border: 1px solid #ebebeb; border-radius: 5px 5px;;
  object-fit: cover;
  display: flex;
  cursor: pointer;
}
.all-videos-background .video-list-window .video-list-content .video-avatar-wrapper .delete-icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url('../../img/close-icon.png');
  background-size: 200% 100%;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  margin: 0px 0px;
}
.all-videos-background .video-list-window .video-list-content .video-avatar-wrapper .delete-icon:hover {
  background-position: 50px 0px;
}
