.all-videos-background {
  background-color: rgba(100, 100, 100, 0.3);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.all-videos-background .all-videos-detail-video-background {
  background-color: rgba(100, 100, 100, 0.3);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.all-videos-background .all-videos-detail-video-background .all-videos-video-img {
  max-width: 800px;
  max-height: 800px;
  background-size: 100% 100%;
  border-radius: 5px 5px;
}
.all-videos-background .video-list-window {
  padding: 20px 5px 20px 20px;
  max-height: 750px;
  max-width: 1085px;
  background-color: white;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.all-videos-background .video-list-window .video-list-avatar {
  width: 203px;
  height: 203px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  object-fit: cover;
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
}
.all-videos-background .video-list-window .delete-video-icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url('../../img/close-icon.png');
  background-size: 200% 100%;
  position: relative;
  top: -90px;
  right: 12px;
  cursor: pointer;
}
.all-videos-background .video-list-window .delete-video-icon:hover {
  background-position: 50px 0px;
}
.all-videos-background .video-list-window .new-video-input {
  display: none;
}
.all-videos-background .video-list-window .new-video-submit {
  display: none;
}
.all-videos-background .video-list-window .add-new-video {
  width: 203px;
  height: 203px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  object-fit: cover;
  margin-bottom: 5px;
  display: inline-block;
  cursor: pointer;
  background-image: url('../../img/plus-icon.png');
  background-size: 200% 100%;
  background-position: 0px 0px;
  margin-right: 5px;
}
.all-videos-background .video-list-window .add-new-video:hover {
  cursor: pointer;
  background-position: 603px 0px;
}
