.container {
  position: relative;
}
.container .nav-panel {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: -35px;
  top: 56px;
  width: 35px;
  padding-top: 10px;
  border-left: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 0px 0px 5px;
  border-right-width: 0px;
}
.container .nav-panel .nav-icon {
  display: flex;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-size: 300% 200%;
  background-image: url('../img/nav-icons.png');
}
.container .nav-panel .icon-home {
  background-position: 0px 0px;
}
.container .nav-panel .icon-home:hover {
  background-position: 0px 25px;
}
.container .nav-panel .icon-logout {
  background-position: -50px 0px;
}
.container .nav-panel .icon-logout:hover {
  background-position: -50px 25px;
}
.container .logo-text {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.container .row {
  height: 750px;
}
.container .row .contacts-panel {
  overflow-y: scroll;
  padding: 10px 10px;
  border: 1px solid #ebebeb;
  border-radius: 0px 0px 0px 5px;
  height: 750px;
}
.container .row .contacts-panel .new-dialogue {
  height: 30px;
  width: 100%;
  color: black;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  text-align: center;
  text-decoration: none;
  color: grey;
  background-image: linear-gradient(to bottom, rgba(160, 160, 255, 0.1), #ffffff);
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  margin-bottom: 15px;
  display: inline-block;
}
.container .row .contacts-panel .new-dialogue:hover {
  border: 1px solid #c8c8c8;
}
.container .row .contacts-panel .contact-icon {
  margin-bottom: 10px;
  width: 100%;
  height: 72px;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, rgba(160, 160, 255, 0.1), #ffffff);
  position: relative;
}
.container .row .contacts-panel .contact-icon:hover {
  border: 1px solid #c8c8c8;
}
.container .row .contacts-panel .contact-icon .contact-avatar {
  display: inline-block;
  float: left;
  width: 70px;
  height: 70px;
  border: 1px solid grey;
  border-radius: 5px 5px;
  margin-right: 10px;
  object-fit: cover;
}
.container .row .contacts-panel .contact-icon .contact-username-text {
  color: #1E7BFF;
}
.container .row .contacts-panel .contact-icon .contact-username-text:hover {
  text-decoration: underline;
  color: #0056b3;
}
.container .row .contacts-panel .contact-icon .message-direction-img {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-image: url('../img/arrows.png');
  background-size: 200% 100%;
}
.container .row .contacts-panel .contact-icon .to-contact {
  background-position: 0px 0px;
}
.container .row .contacts-panel .contact-icon .from-contact {
  background-position: 12px 0px;
}
.container .row .contacts-panel .contact-icon .last-message-text {
  margin-top: 10px;
  color: grey;
  height: 25px;
  overflow: hidden;
}
.container .row .contacts-panel .contact-icon .friends-icon {
  width: 17px;
  height: 13px;
  position: absolute;
  right: 10px;
  top: 5px;
}
.container .row .contacts-panel .contact-icon-selected {
  margin-bottom: 10px;
  width: 100%;
  height: 72px;
  cursor: pointer;
  border: 1px solid #ebebeb;
  background-image: linear-gradient(to bottom, rgba(160, 160, 255, 0.1), #ffffff);
  position: relative;
  border: 1px solid #aaaaaa;
  border-radius: 5px 5px;
}
.container .row .contacts-panel .contact-icon-selected:hover {
  border: 1px solid #c8c8c8;
}
.container .row .contacts-panel .contact-icon-selected .contact-avatar {
  display: inline-block;
  float: left;
  width: 70px;
  height: 70px;
  border: 1px solid grey;
  border-radius: 5px 5px;
  margin-right: 10px;
  object-fit: cover;
}
.container .row .contacts-panel .contact-icon-selected .contact-username-text {
  color: #1E7BFF;
}
.container .row .contacts-panel .contact-icon-selected .contact-username-text:hover {
  text-decoration: underline;
  color: #0056b3;
}
.container .row .contacts-panel .contact-icon-selected .message-direction-img {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-image: url('../img/arrows.png');
  background-size: 200% 100%;
}
.container .row .contacts-panel .contact-icon-selected .to-contact {
  background-position: 0px 0px;
}
.container .row .contacts-panel .contact-icon-selected .from-contact {
  background-position: 12px 0px;
}
.container .row .contacts-panel .contact-icon-selected .last-message-text {
  margin-top: 10px;
  color: grey;
  height: 25px;
  overflow: hidden;
}
.container .row .contacts-panel .contact-icon-selected .friends-icon {
  width: 17px;
  height: 13px;
  position: absolute;
  right: 10px;
  top: 5px;
}
.container .row .messages-header {
  width: 100%;
  height: 52px;
  border-top: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-radius: 0px 5px 0px 0px;
  background-image: linear-gradient(to bottom, rgba(160, 160, 255, 0.1), #ffffff);
}
.container .row .messages-header .receiver-username-text {
  padding-top: 7px;
}
.container .row .messages-panel {
  height: 663px;
  overflow-y: scroll;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 5px 5px 0px;
  border: 0px solid #ebebeb;
}
.container .row .messages-panel .message-icon {
  margin-bottom: 10px;
  padding: 0px 10px 5px 10px;
  display: inline-block;
  max-width: 80%;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, rgba(160, 160, 255, 0.1), #ffffff);
}
.container .row .messages-panel .message-icon .message-text {
  display: inline-block;
  margin-bottom: 0px;
  word-break: break-word;
}
.container .row .messages-panel .message-right {
  float: right;
}
.container .row .message-input {
  width: 100%;
  height: 35px;
  font-size: 14px;
  padding-left: 10px;
  border: 1px solid #ebebeb;
  border-radius: 0px 5px 5px 0px;
  background-image: linear-gradient(to bottom, rgba(160, 160, 255, 0.1), #ffffff);
}
.container .row .message-input:focus {
  border: 1px solid #c8c8c8;
}
.container .row .message-input:invalid {
  box-shadow: none;
}
