.container{
    position: relative;
}

.col-4 {
    border: 1px solid yellow;
}

.elephant-logo {
    height: 20px;
    outline: 1px solid blue;
}
.avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px 5px;
    display: block;
    margin: 0 auto;
}


.friends-block {
    height: 200px;
    outline: 1px solid grey;
}

.about-block {
    outline: 1px solid grey;
    height: 300px;
}

.posts-block {
    outline: 1px solid grey;
}

.photo-block, .video-block, .audio-block {
    outline: 1px solid grey;
    height: 150px;
}

.post {
    height: 150px;
    outline: 1px solid grey;
}