.title-text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 20px;
}

.container {
    position: relative;
}


.middle {
    border-left: 1px solid rgb(235, 235, 235);
    border-right: 1px solid rgb(235, 235, 235);
            }

.left {
    border-left: 1px solid rgb(235, 235, 235);
}

.right {
    border-right: 1px solid rgb(235, 235, 235);
}

.elephant-panel {
    height: 40px;
    background-image: url("grass.png");
    background-size: auto 204%;
}

.elephant {
    display: inline-block;
    width: 44px;
    height: 40px;
    background-image: url("elephant2.png");
    background-size: 200% 100%;
    background-position: 44px 0px;
    position: relative;
}

.elephant:hover {
    cursor: grab;
}

.avatar-panel {
    margin: 0 auto;
}

.status-text {
    margin-top: 7px;
}

.user-avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px 5px;
    display: block;
    margin: 0 auto;
}

.friends-text {
    display: block;
    margin-left: 5px;
}

.friends-panel {
    padding: 0px 0px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 5px 5px;
}

.friend-icon {
    width: 70px;
    height: 80px;
    display: inline-block;
    margin-bottom: 11px;
    padding-top: 5px;
    margin-left: 4px;
}

.friend-avatar {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border: 1px solid grey;
    border-radius: 5px 5px;
}

.friend-avatar > p {
    margin-top: 0px;
}


.about-block {
    text-align: justify;
    word-wraps: normal;
}

.post {
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px 5px;
    margin-top: 20px;
    padding: 10px 10px;
    text-align: justify;
    text-wraps: normal;
}

.post > p {
    margin-bottom: 0px;
}

.sender-icon {
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    border-radius: 5px 5px;
    margin-right: 5px;
}

.sender-avatar {
    width: 100%;
    height: 100%;
}

.photo-text {
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;
}

.photo-panel {
    padding: 5px 0px 5px 10px;
    margin: 0 auto;
    border-radius: 5px 5px;
}


.photo-avatar {
    display: inline-block;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    margin-left: 3px;
    border: 1px solid grey;
    border-radius: 5px 5px;
}

.video-text{
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;
}

.video-panel {
    padding: 5px 0px 5px 10px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 5px 5px;
}

.video-avatar {
    display: inline-block;
    margin: 0 auto;
    margin-left: 3px;
    width: 70px;
    height: 70px;
    border: 1px solid grey;
    border-radius: 5px 5px;
}

.audio-text {
    display: block;
    margin-left: 5px;
    margin-bottom: 10px;
}

.audio-panel {
    padding: 5px 0px 5px 10px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 5px 5px;
}

.play-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
    background-image: url("play.png");
    background-size: 100% 100%;
}

.avatar-panel, .photo-panel, .video-panel, .friends-panel, .audio-panel, .post, .about-panel {
    background-image: linear-gradient(to bottom, rgba(160, 160, 255,0.1), rgb(255,255,255));
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px 5px;
}

.about-panel {
    padding: 10px 10px 10px 10px;
    border-radius: 5px 5px;
}

.splitter {
    height: 20px;
    border-bottom: 1px solid rgb(235, 235, 235);
}


