{% load html_attrs %}
{% load static %}
<div class="all-photos-background">
    <div class="all-photos-detail-photo-background">
        <img class="all-photos-photo-img" src="">
    </div>
    <div class="photo-list-window">
        {% if page_owner == current_user %}
            <form method="POST" enctype="multipart/form-data" action="{% url 'pages:add_new_photo' page_owner.username %}">
                {% csrf_token %}
                {{ photo_form.non_field_errors }}
                {{ photo_form.photo|set_attrs:"class='new-photo-input'" }}
                {{ photo_form.photo.errors }}
                <input type="submit" class="new-photo-submit">
            </form>
            <div class="photo-avatar-wrapper">
                <a class="add-new-photo"></a>
            </div>
        {% endif %}
        {% for photo in photos %}
            <div class="photo-avatar-wrapper">
                <img class="photo-list-avatar" src="{{ photo.photo.photo.url }}">
                <!--TODO: do this via permissions (or not?)-->
                {% if page_owner == current_user %}
                <div class="delete-photo-icon">
                    <a href="{% url 'pages:delete_photo' page_owner.username photo.id %}" class="delete-photo-link"></a>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <!--TODO: why this is doing that way-->
    <script>
        var url = "{% static 'pages/js/all_photos.js' %}";
        $.getScript(url);
    </script>
</div>
