<!DOCTYPE html>
{% load html_attrs %}
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>Onlyours</title>


    <link rel="stylesheet" href="{% static 'pages/css/page.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/all_friends.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/delete_post.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/all_photos.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/all_videos.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="wrapper">
    <div class="page-detail-video-background">
        <video src="" class="page-video-img" controls></video>
    </div>
    <div class="page-detail-photo-background">
        <img src="" class="page-photo-img">
    </div>
    <div class="elephant-panel">
        <div class="elephant"></div>
    </div>
    <div class="container">
        <h1 class="title-text text-center">Onlyours <small><small>pages</small></small></h1>
        {% include 'pages/page.html' %}
    </div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{% static 'pages/js/elephant.js' %}"></script>
<script src="{% static 'pages/js/page.js' %}"></script>
</body>
</html>


