{% load static %}
{% load html_attrs %}
<!--TODO: make it responsive -->
<div class="delete-post-background">
        <div class="delete-post-confirm-window">
            <h6 class="confirmation-text">Do you really want to delete this post?</h6>
            <div class="post">
                    <!--TODO: add links-->
                    <a href="{% url 'pages:page' post.sender.username %}">
                        {% if post.sender.avatar %}
                            <img src="{{ post.sender.avatar.url }}" class="sender-avatar">
                        {% else %}
                            <img src="{% static 'pages/img/avatar_placeholder.png' %}" class="sender-avatar">
                        {% endif %}
                    </a>
                    <div class="post-sender">
                        <a href="{% url 'pages:page' post.sender.username %}">
                            <b>{{ post.sender.username }}</b>
                        </a>
                        <small>{{ post.date }} {{ post.time }}</small>
                    </div>
                    {{ post.text|linebreaks|set_attrs:"class='post-text'" }}
            </div>
            <a class="cancel-btn text-center">Cancel</a>
            <a href="{% url 'pages:delete_post' user.username post.id %}" class="delete-btn text-center">Delete</a>
        </div>
    </div>
<script>
    var url = "{% static 'pages/js/delete_post.js' %}";
    $.getScript(url);
</script>
