{% load static %}
<div class="smooth-background">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="all-friends">
                    <div class="friends-header">
                        <h4 class="friends-header-text text-center">Friends</h4>
                    </div>
                    <div class="friends-list">
                        <!--TODO: max-height instead of height and vertical alignment-->
                        {% for friend in friends %}
                            <div class="friends-list-icon">
                                    <!--This links are used in js-->
                                    <!--TODO: add links handling-->
                                    <a class="friend-link" href="{% url 'pages:page' friend.username %}"></a>
                                    {% if friend.avatar %}
                                        <img src="{{ friend.avatar.url }}" class="contact-avatar">
                                    {% else %}
                                        <img src="{% static 'pages/img/avatar_placeholder.png' %}" class="contact-avatar">
                                    {% endif %}
                                    <a href="{% url 'pages:page' friend.username %}">
                                        <b class="contact-username-text">{{ friend.username }}</b>
                                    </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <script>
        $(".smooth-background").click(function (event) {
            $(".smooth-background").remove();
        });
    </script>
</div>

<!--TODO: bg on whole screen-->