<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>Onlyours</title>

	{% load static %}

	<link rel="stylesheet" href="{% static 'pages/css/page.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<div class="wrapper">
        <div class="elephant-panel">
            <div class="elephant"></div>
        </div>
		<div class="container">
			<h1 class="title-text text-center">Onlyours <small><small>pages</small></small></h1>
			<div class="row">
                <div class="left col-3">
                    <div class="avatar-panel">
                        <h4 class="text-center">{{ user.username }}
                            {% if user.username == current_user.username %}
                            <small><a href="{% url 'pages:edit' request.user.username %}">Edit</a></small>
                            {% endif %}
                        </h4>
                        {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" class="user-avatar img-fluid">
                        {% else %}
                        <img src="{% static 'pages/img/avatar_placeholder.png' %}" class="user-avatar img-fluid">
                        {% endif %}
                        {% if user.status %}
                        <p class="status-text text-center">{{ user.status }}</p>
                        {% endif %}
                    </div>

                    <div class="friends-panel">
							<b class="friends-text"><a href="">Friends</a></b>
							<div class="friend-icon">
								<a href="">
                                    <div class="friend-avatar"></div>
                                    <div class="text-center friend-name">name</div>
								</a>
							</div>
							<div class="friend-icon">
								<a href="">
                                        <div class="friend-avatar"></div>
                                        <div class="text-center friend-name">name</div>
                                </a>
							</div>
                            <div class="friend-icon">
								<a href="">
                                    <div class="friend-avatar"></div>
                                    <div class="text-center friend-name">name</div>
								</a>
							</div>
                            <div class="friend-icon">
								<a href="">
                                    <div class="friend-avatar"></div>
                                    <div class="text-center friend-name">name</div>
								</a>
							</div>
                            <div class="friend-icon">
								<a href="">
                                    <div class="friend-avatar"></div>
                                    <div class="text-center friend-name">name</div>
								</a>
							</div>
                            <div class="friend-icon">
								<a href="">
                                    <div class="friend-avatar"></div>
                                    <div class="text-center friend-name">name</div>
								</a>
							</div>
						</div>
                </div>
				<div class="middle col-6">
                    <div class="about-panel">
                        {% if user.first_name %}
                        <p><b>Name: </b>{{ user.first_name }} {{user.last_name}}</p>
                        {% endif %}
                        {% if user.birthday %}
                        <p><b>Birthday: </b>{{ user.birthday }}</p>
                        {% endif %}
                        {% if user.city %}
                        <p><b>City: </b>{{ user.city }}</p>
                        {% endif %}

                        <!--TODO: add choice form field to gender--> {% if user.gender %}
                        <p><b>Gender: </b>{{ user.gender }}</p>
                        {% endif %}

                        {% if user.about %} <div class="about-block"><b>About me: </b>
                            <p>{{ user.about }}</p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="splitter"></div>
                    <div class="posts-panel">
						<div class="post">
                            <a href="">
                                <div class="sender-avatar"></div>
                            </a>
                            <div class="sender-name">
                                <a href="">
                                    <b>Tom</b>
                                </a>
                            </div>
                            <div class="post-date">
                                <small>15.03.2018 18.30</small>
                            </div>
							<div style="clear:both"></div>
							<div class="post-text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a leo mattis sem gravida feugiat vel nec magna.
							</div>
						</div>
						<div class="post">post</div>
						<div class="post">post</div>
						<div class="post">post</div>
						<div class="post">post</div>
						<div class="post">post</div>
						<div class="post">post</div>
						<div class="post">post</div>
						<div class="post">post</div>
						<div class="post">post</div>
					</div>
				</div>
				<div class="right col-3">
					<div class="photo-panel">
						<a href="" class="photo-text"><b>Photo</b></a>
                        <a href="" class="photo-avatar"></a>
                        <a href="" class="photo-avatar"></a>
                        <a href="" class="photo-avatar"></a>
                        <a href="" class="photo-avatar"></a>
                        <a href="" class="photo-avatar"></a>
                        <a href="" class="photo-avatar"></a>
                    </div>
					<div class="video-panel">
                        <a href="" class="video-text"><b>Video</b></a>
                        <a href="" class="video-avatar"></a>
                        <a href="" class="video-avatar"></a>
                        <a href="" class="video-avatar"></a>
                        <a href="" class="video-avatar"></a>
                        <a href="" class="video-avatar"></a>
                    </div>
					<div class="audio-panel">
                        <a href="" class="audio-text"><b>Audio</b></a>
                        <div class="track-panel">
                            <a href="">
                                <div class="play-icon"></div>
                            </a>
                            <p>
                                <a href=""><b>Artist </b></a> - Title
                            </p>
                        </div>
                        <div class="track-panel">
                                <div class="play-icon"></div>
                            <p>
                                <a href=""><b>Artist </b></a> - Title
                            </p>
                        </div>
                        <div class="track-panel">
                                <div class="play-icon"></div>
                            <p>
                                <a href=""><b>Artist </b></a> - Title
                            </p>
                        </div>
                    </div>
				</div>
            </div>
		</div>
	</div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="{% static 'pages/js/elephant.js' %}"></script>
</body>
</html>