{% load html_utils %}
{% load static %}

<link rel="stylesheet" href="{% static 'videos/css/ajax/all_videos.css' %}">

<div class="all-videos-background">
    <div class="video-list-window">
        <div class="video-list-header">
            <h4>Video</h4>
            {% if user == page_owner %}
                <div class="add-icon"></div>
                <div class="youtube-icon"></div>
                <div class="upload-icon"></div>
            {% endif %}
        </div>
        <div class="video-list-content">
            {% if user == page_owner %}
                <form method="POST" enctype="multipart/form-data" action="{% url 'pages:videos:add' page_owner.username %}">
                    {% csrf_token %}
                    {{ video_form.non_field_errors }}
                    {{ video_form.file|set_attrs:"class='new-video-input' hidden" }}
                    {{ video_form.file.errors }}
                    <input type="submit" class="new-video-submit" hidden>
                </form>
            {% endif %}
            {% for user_video in user_videos %}
                <div class="video-avatar-wrapper">
                    <!--This link is used in js-->
                    <a href="{% url 'pages:videos:detail' page_owner.username user_video.id %}"></a>
                    {% if user_video.thumbnail %}
                        <img class="video-list-avatar" src="{{ user_video.video.thumbnail.url }}">
                    {% else %}
                        <img class="video-list-avatar" src="">
                    {% endif %}
                    {% if user == page_owner %}
                        <a class="delete-icon" href="{% url 'pages:videos:delete' user.username user_video.id %}"></a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    var url = "{% static 'videos/js/ajax/all_videos.js' %}";
    $.getScript(url);
</script>
