.elephant-panel {
  height: 40px;
  background-image: url("../img/grass.png");
  background-size: auto 204%;
}
.elephant-panel .elephant {
  display: inline-block;
  width: 44px;
  height: 40px;
  background-image: url("../img/elephant2.png");
  background-size: 200% 100%;
  background-position: 44px 0px;
  position: relative;
  left: 0px;
}
.elephant-panel .elephant:hover {
  cursor: grab;
}
.title-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 10px;
}
.container {
  position: relative;
}
.container .nav-panel {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: -55px;
  width: 55px;
  padding-top: 10px;
  border: 1px solid #ebebeb;
  border-right: 0px solid white;
  border-radius: 5px 0px 0px 5px;
}
.container .nav-panel .nav-icon {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-image: url('../img/nav-icons.png');
  background-size: 300% 200%;
}
.container .nav-panel .home-icon {
  background-position: 0px 0px;
}
.container .nav-panel .home-icon:hover {
  background-position: 0px -40px;
}
.container .nav-panel .talks-icon {
  background-position: -40px 0px;
}
.container .nav-panel .talks-icon:hover {
  background-position: -40px -40px;
}
.container .nav-panel .logout-icon {
  background-position: -80px 0px;
}
.container .nav-panel .logout-icon:hover {
  background-position: -80px -40px;
}
.container .left {
  border-left: 1px solid #ebebeb;
}
.container .left .avatar-panel {
  margin-bottom: 15px;
  padding: 0px 10px 15px 10px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
}
.container .left .avatar-panel .edit-page-icon {
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url('../img/pencil.png');
  background-size: 200% 100%;
}
.container .left .avatar-panel .edit-page-icon:hover {
  background-position: 19px 0px;
}
.container .left .avatar-panel .status-text {
  margin-top: 7px;
  margin-bottom: 0px;
}
.container .left .avatar-panel .user-avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  display: block;
  margin: 0 auto;
}
.container .left .write-message-btn {
  height: 30px;
  width: 100%;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  box-shadow: 0px 0px 1px #0000ff;
  margin-bottom: 15px;
  display: inline-block;
}
.container .left .write-message-btn:hover {
  border-color: #6464ff;
}
.container .left .friendship-status-panel {
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  margin-bottom: 15px;
}
.container .left .friendship-status-panel .friendship-status-text {
  margin-bottom: 5px;
}
.container .left .friendship-status-panel .send-friend-request-btn {
  height: 30px;
  width: 100%;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  box-shadow: 0px 0px 1px #0000ff;
  margin-bottom: 15px;
  display: inline-block;
  box-shadow: 0px 0px 1px #00c800;
  margin-bottom: 0px;
}
.container .left .friendship-status-panel .send-friend-request-btn:hover {
  border-color: #6464ff;
}
.container .left .friendship-status-panel .send-friend-request-btn:hover {
  border-color: #00c800;
}
.container .left .friendship-status-panel .remove-friend-btn {
  height: 30px;
  width: 100%;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  box-shadow: 0px 0px 1px #0000ff;
  margin-bottom: 15px;
  display: inline-block;
  box-shadow: 0px 0px 1px #00c800;
  margin-bottom: 0px;
  box-shadow: 0px 0px 1px #ff0000;
}
.container .left .friendship-status-panel .remove-friend-btn:hover {
  border-color: #6464ff;
}
.container .left .friendship-status-panel .remove-friend-btn:hover {
  border-color: #00c800;
}
.container .left .friendship-status-panel .remove-friend-btn:hover {
  border-color: #ff8282;
}
.container .left .friendship-status-panel .accept-friend-request-btn {
  height: 30px;
  width: 100%;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  box-shadow: 0px 0px 1px #0000ff;
  margin-bottom: 15px;
  display: inline-block;
  box-shadow: 0px 0px 1px #00c800;
  margin-bottom: 0px;
}
.container .left .friendship-status-panel .accept-friend-request-btn:hover {
  border-color: #6464ff;
}
.container .left .friendship-status-panel .accept-friend-request-btn:hover {
  border-color: #00c800;
}
.container .left .friendship-status-panel .deny-friend-request-btn {
  height: 30px;
  width: 100%;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  box-shadow: 0px 0px 1px #0000ff;
  margin-bottom: 15px;
  display: inline-block;
  box-shadow: 0px 0px 1px #00c800;
  margin-bottom: 0px;
  box-shadow: 0px 0px 1px #ff0000;
}
.container .left .friendship-status-panel .deny-friend-request-btn:hover {
  border-color: #6464ff;
}
.container .left .friendship-status-panel .deny-friend-request-btn:hover {
  border-color: #00c800;
}
.container .left .friendship-status-panel .deny-friend-request-btn:hover {
  border-color: #ff8282;
}
.container .left .friendship-status-panel .cancel-friend-request-btn {
  height: 30px;
  width: 100%;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  box-shadow: 0px 0px 1px #0000ff;
  margin-bottom: 15px;
  display: inline-block;
  box-shadow: 0px 0px 1px #00c800;
  margin-bottom: 0px;
  box-shadow: 0px 0px 1px #ff0000;
  box-shadow: 0px 0px 1px 1px #ffff00;
}
.container .left .friendship-status-panel .cancel-friend-request-btn:hover {
  border-color: #6464ff;
}
.container .left .friendship-status-panel .cancel-friend-request-btn:hover {
  border-color: #00c800;
}
.container .left .friendship-status-panel .cancel-friend-request-btn:hover {
  border-color: #ff8282;
}
.container .left .friendship-status-panel .cancel-friend-request-btn:hover {
  border-color: #ffe228;
}
.container .left .friends-panel {
  margin-bottom: 15px;
  padding: 5px 0px 5px 12px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
}
.container .left .friends-panel .friends-text {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
  color: #007bff;
}
.container .left .friends-panel .friends-text:hover {
  color: #0056b3;
  text-decoration: underline;
}
.container .left .friends-panel .friend-icon {
  width: 70px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.container .left .friends-panel .friend-icon .friend-avatar {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-left: 3px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
}
.container .middle {
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
.container .middle .about-panel {
  margin-bottom: 15px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
}
.container .middle .about-panel .about-block {
  text-align: justify;
  word-wraps: normal;
}
.container .middle .about-panel .about-block .about-text {
  margin-bottom: 0px;
}
.container .middle .splitter {
  margin-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
  background-color: blue;
}
.container .middle .posts-panel {
  position: relative;
}
.container .middle .posts-panel .form-info-block {
  height: 65px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  margin-bottom: 15px;
  padding: 0px 0px;
}
.container .middle .posts-panel .form-info-block .add-post {
  width: 100%;
  height: 65px;
  resize: none;
  font-size: 15px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  border-color: #ccc;
  padding: 10px 10px;
}
.container .middle .posts-panel .form-info-block .add-post:invalid {
  box-shadow: none;
}
.container .middle .posts-panel .form-info-block .add-post:focus {
  border-color: #aaaaaa;
}
.container .middle .posts-panel .form-info-block .form-info-text {
  margin: 0px 0px;
  padding: 0px 0px;
  font-size: 12px;
  color: #777;
  padding-bottom: 5px;
  padding-right: 5px;
  display: none;
}
.container .middle .posts-panel .post {
  min-height: 90px;
  margin-bottom: 15px;
  padding: 10px 10px 0px 10px;
  text-align: justify;
  text-wraps: normal;
  position: relative;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
}
.container .middle .posts-panel .post .post-sender {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px 0px;
}
.container .middle .posts-panel .post .post-text {
  margin-bottom: 0px;
}
.container .middle .posts-panel .post .sender-avatar {
  float: left;
  width: 67px;
  height: 67px;
  margin-right: 7px;
  margin-bottom: 5px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
}
.container .middle .posts-panel .post .close-icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 15px;
  background-image: url("../img/close-icon.png");
  object-fit: cover;
  background-size: 200% 100%;
  background-position: 0px 0px;
}
.container .middle .posts-panel .post .close-icon:hover {
  cursor: pointer;
  background-position: 50px 0px;
}
.container .middle .posts-panel .post .likes-panel {
  display: inline-block;
  border-top: 1px solid #ebebeb;
  width: 100%;
  height: 30px;
  position: relative;
  padding-top: 5px;
  margin-top: 5px;
}
.container .middle .posts-panel .post .likes-panel .like {
  display: inline-block;
  height: 15px;
  float: right;
}
.container .middle .posts-panel .post .likes-panel .like:hover {
  cursor: pointer;
}
.container .middle .posts-panel .post .likes-panel .like .like-icon {
  display: inline-block;
  width: 15px;
  height: 100%;
  background-image: url('../img/likes.png');
  background-size: 200% 300%;
  background-position: 0px 0px;
}
.container .middle .posts-panel .post .likes-panel .like .like-icon:hover {
  background-position: 0px -15px;
}
.container .middle .posts-panel .post .likes-panel .like .like-icon.like-selected {
  background-position: 0px -30px;
}
.container .middle .posts-panel .post .likes-panel .like .like-value {
  display: inline-block;
  color: grey;
  height: 100%;
  vertical-align: 1px;
  margin-left: 3px;
  margin-right: 5px;
  font-size: 13px;
}
.container .middle .posts-panel .post .likes-panel .dislike {
  display: inline-block;
  height: 15px;
  float: right;
}
.container .middle .posts-panel .post .likes-panel .dislike:hover {
  cursor: pointer;
}
.container .middle .posts-panel .post .likes-panel .dislike .like-icon {
  display: inline-block;
  width: 15px;
  height: 100%;
  background-image: url('../img/likes.png');
  background-size: 200% 300%;
  background-position: 0px 0px;
}
.container .middle .posts-panel .post .likes-panel .dislike .like-icon:hover {
  background-position: 0px -15px;
}
.container .middle .posts-panel .post .likes-panel .dislike .like-icon.like-selected {
  background-position: 0px -30px;
}
.container .middle .posts-panel .post .likes-panel .dislike .like-value {
  display: inline-block;
  color: grey;
  height: 100%;
  vertical-align: 1px;
  margin-left: 3px;
  margin-right: 5px;
  font-size: 13px;
}
.container .middle .posts-panel .post .likes-panel .dislike .dislike-icon {
  display: inline-block;
  width: 15px;
  height: 100%;
  background-image: url('../img/likes.png');
  background-size: 200% 300%;
  background-position: 0px 0px;
  background-position: 15px 0px;
}
.container .middle .posts-panel .post .likes-panel .dislike .dislike-icon:hover {
  background-position: 0px -15px;
}
.container .middle .posts-panel .post .likes-panel .dislike .dislike-icon:hover {
  background-position: 15px -15px;
}
.container .middle .posts-panel .post .likes-panel .dislike .dislike-icon.dislike-selected {
  background-position: 15px -30px;
}
.container .middle .posts-panel .post .likes-panel .dislike .dislike-value {
  display: inline-block;
  color: grey;
  height: 100%;
  vertical-align: 1px;
  margin-left: 3px;
  margin-right: 5px;
  font-size: 13px;
}
.container .right {
  border-right: 1px solid #ebebeb;
}
.container .right .photo-panel {
  margin-bottom: 15px;
  padding: 5px 0px 5px 12px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
}
.container .right .photo-panel .photo-text {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
  color: #007bff;
}
.container .right .photo-panel .photo-text:hover {
  color: #0056b3;
  text-decoration: underline;
}
.container .right .photo-panel .photo-avatar {
  padding: 0px 0px;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-left: 3px;
  margin-bottom: 5px;
  border: 1px solid grey;
  border-radius: 5px 5px;
  object-fit: cover;
  cursor: pointer;
}
.container .right .video-panel {
  margin-bottom: 15px;
  padding: 5px 0px 5px 12px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
}
.container .right .video-panel .video-text {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
  color: #007bff;
}
.container .right .video-panel .video-text:hover {
  color: #0056b3;
  text-decoration: underline;
}
.container .right .video-panel .video-avatar {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-left: 3px;
  margin-bottom: 5px;
  border: 1px solid grey;
  border-radius: 5px 5px;
  cursor: pointer;
}
.container .right .audio-panel {
  margin-bottom: 15px;
  padding: 5px 0px 5px 12px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
}
.container .right .audio-panel .audio-text {
  display: block;
  margin-bottom: 5px;
}
.container .right .audio-panel .play-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
  margin-top: 3px;
  background-image: url("../img/play.png");
  background-size: 100% 100%;
}
