.page-detail-photo-background {
  background-color: rgba(100, 100, 100, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.page-detail-photo-background .page-photo-img {
  max-width: 800px;
  max-height: 800px;
  background-size: 100% 100%;
  border-radius: 5px 5px;
}
.page-detail-video-background {
  background-color: rgba(100, 100, 100, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.page-detail-video-background .video {
  max-width: 800px;
  max-height: 800px;
  border-radius: 5px 5px;
  border: 1px solid black;
}
.elephant-panel {
  height: 40px;
  background-image: url("../img/grass.png");
  background-size: auto 204%;
}
.elephant-panel .elephant {
  display: inline-block;
  width: 44px;
  height: 40px;
  background-image: url("../img/elephant2.png");
  background-size: 200% 100%;
  background-position: 44px 0px;
  position: relative;
  left: 0px;
}
.elephant-panel .elephant:hover {
  cursor: grab;
}
.title-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 10px;
}
.left {
  border-left: 1px solid #ebebeb;
}
.left .avatar-panel {
  margin-bottom: 15px;
  padding: 0px 10px 15px 10px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
}
.left .avatar-panel .status-text {
  margin-top: 7px;
  margin-bottom: 0px;
}
.left .avatar-panel .user-avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  display: block;
  margin: 0 auto;
}
.left .write-message-btn {
  height: 30px;
  width: 100%;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  box-shadow: 0px 0px 1px #0000ff;
  margin-bottom: 15px;
  display: inline-block;
}
.left .write-message-btn:hover {
  border-color: #6464ff;
}
.left .friendship-status-panel {
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  margin-bottom: 15px;
}
.left .friendship-status-panel .friendship-status-text {
  margin-bottom: 5px;
}
.left .friendship-status-panel .send-friend-request-btn {
  height: 30px;
  width: 100%;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  box-shadow: 0px 0px 1px #0000ff;
  margin-bottom: 15px;
  display: inline-block;
  box-shadow: 0px 0px 1px #00c800;
  margin-bottom: 0px;
}
.left .friendship-status-panel .send-friend-request-btn:hover {
  border-color: #6464ff;
}
.left .friendship-status-panel .send-friend-request-btn:hover {
  border-color: #00c800;
}
.left .friendship-status-panel .remove-friend-btn {
  height: 30px;
  width: 100%;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  box-shadow: 0px 0px 1px #0000ff;
  margin-bottom: 15px;
  display: inline-block;
  box-shadow: 0px 0px 1px #00c800;
  margin-bottom: 0px;
  box-shadow: 0px 0px 1px #ff0000;
}
.left .friendship-status-panel .remove-friend-btn:hover {
  border-color: #6464ff;
}
.left .friendship-status-panel .remove-friend-btn:hover {
  border-color: #00c800;
}
.left .friendship-status-panel .remove-friend-btn:hover {
  border-color: #ff8282;
}
.left .friendship-status-panel .accept-friend-request-btn {
  height: 30px;
  width: 100%;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  box-shadow: 0px 0px 1px #0000ff;
  margin-bottom: 15px;
  display: inline-block;
  box-shadow: 0px 0px 1px #00c800;
  margin-bottom: 0px;
}
.left .friendship-status-panel .accept-friend-request-btn:hover {
  border-color: #6464ff;
}
.left .friendship-status-panel .accept-friend-request-btn:hover {
  border-color: #00c800;
}
.left .friendship-status-panel .deny-friend-request-btn {
  height: 30px;
  width: 100%;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  box-shadow: 0px 0px 1px #0000ff;
  margin-bottom: 15px;
  display: inline-block;
  box-shadow: 0px 0px 1px #00c800;
  margin-bottom: 0px;
  box-shadow: 0px 0px 1px #ff0000;
}
.left .friendship-status-panel .deny-friend-request-btn:hover {
  border-color: #6464ff;
}
.left .friendship-status-panel .deny-friend-request-btn:hover {
  border-color: #00c800;
}
.left .friendship-status-panel .deny-friend-request-btn:hover {
  border-color: #ff8282;
}
.left .friendship-status-panel .cancel-friend-request-btn {
  height: 30px;
  width: 100%;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  box-shadow: 0px 0px 1px #0000ff;
  margin-bottom: 15px;
  display: inline-block;
  box-shadow: 0px 0px 1px #00c800;
  margin-bottom: 0px;
  box-shadow: 0px 0px 1px #ff0000;
  box-shadow: 0px 0px 1px 1px #ffff00;
}
.left .friendship-status-panel .cancel-friend-request-btn:hover {
  border-color: #6464ff;
}
.left .friendship-status-panel .cancel-friend-request-btn:hover {
  border-color: #00c800;
}
.left .friendship-status-panel .cancel-friend-request-btn:hover {
  border-color: #ff8282;
}
.left .friendship-status-panel .cancel-friend-request-btn:hover {
  border-color: #ffe228;
}
.left .friends-panel {
  margin-bottom: 15px;
  padding: 5px 0px 5px 12px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
}
.left .friends-panel .friends-text {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
  color: #007bff;
}
.left .friends-panel .friends-text:hover {
  color: #0056b3;
  text-decoration: underline;
}
.left .friends-panel .friend-icon {
  width: 70px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.left .friends-panel .friend-icon .friend-avatar {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-left: 3px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
}
.middle {
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
.middle .about-panel {
  margin-bottom: 15px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
}
.middle .about-panel .about-block {
  text-align: justify;
  word-wraps: normal;
}
.middle .about-panel .about-block .about-text {
  margin-bottom: 0px;
}
.middle .splitter {
  margin-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
  background-color: blue;
}
.middle .posts-panel {
  position: relative;
}
.middle .posts-panel .form-info-block {
  height: 65px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  margin-bottom: 15px;
  padding: 0px 0px;
}
.middle .posts-panel .form-info-block .add-post {
  width: 100%;
  height: 65px;
  resize: none;
  font-size: 15px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  border-color: #ccc;
  padding: 10px 10px;
}
.middle .posts-panel .form-info-block .add-post:invalid {
  box-shadow: none;
}
.middle .posts-panel .form-info-block .add-post:focus {
  border-color: #aaaaaa;
}
.middle .posts-panel .form-info-block .form-info-text {
  margin: 0px 0px;
  padding: 0px 0px;
  font-size: 12px;
  color: #777;
  padding-bottom: 5px;
  padding-right: 5px;
  display: none;
}
.middle .posts-panel .post {
  min-height: 90px;
  margin-bottom: 15px;
  padding: 10px 10px;
  text-align: justify;
  text-wraps: normal;
  position: relative;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
}
.middle .posts-panel .post .post-sender {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px 0px;
}
.middle .posts-panel .post .post-text {
  margin-bottom: 0px;
}
.middle .posts-panel .post .sender-avatar {
  float: left;
  width: 67px;
  height: 67px;
  margin-right: 7px;
  margin-bottom: 5px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
}
.middle .posts-panel .post .close-icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 15px;
  background-image: url("../img/close-icon.png");
  object-fit: cover;
  background-size: 200% 100%;
  background-position: 0px 0px;
}
.middle .posts-panel .post .close-icon:hover {
  cursor: pointer;
  background-position: 50px 0px;
}
.right {
  border-right: 1px solid #ebebeb;
}
.right .photo-panel {
  margin-bottom: 15px;
  padding: 5px 0px 5px 12px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
}
.right .photo-panel .photo-text {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
  color: #007bff;
}
.right .photo-panel .photo-text:hover {
  color: #0056b3;
  text-decoration: underline;
}
.right .photo-panel .photo-avatar {
  padding: 0px 0px;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-left: 3px;
  margin-bottom: 5px;
  border: 1px solid grey;
  border-radius: 5px 5px;
  object-fit: cover;
  cursor: pointer;
}
.right .video-panel {
  margin-bottom: 15px;
  padding: 5px 0px 5px 12px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
}
.right .video-panel .video-text {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
  color: #007bff;
}
.right .video-panel .video-text:hover {
  color: #0056b3;
  text-decoration: underline;
}
.right .video-panel .video-avatar {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-left: 3px;
  border: 1px solid grey;
  border-radius: 5px 5px;
  cursor: pointer;
}
.right .audio-panel {
  margin-bottom: 15px;
  padding: 5px 0px 5px 12px;
  border: 1px solid #ebebeb;
  border-radius: 5px 5px;
  background-image: linear-gradient(to bottom, #F5F5FF, #fff);
  /*rgba(160, 160, 255, 0.1)*/
}
.right .audio-panel .audio-text {
  display: block;
  margin-bottom: 5px;
}
.right .audio-panel .play-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
  margin-top: 3px;
  background-image: url("../img/play.png");
  background-size: 100% 100%;
}
